@import '../../styles/flexbox.scss';
.board {
    @include flexbox($justify: space-between);
    &__list {
        @include flexbox($direction: column, $align: center);
        width: 30%;
        padding-bottom: 80px;
        border: 1px solid black;
    }
    &__card {
        width: 80%;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px solid black;
    }
}